<div class="w3-container">

    <div id="id01" class="w3-modal">
      <div class="w3-modal-content">
        <div class="w3-container">
          <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
          <p style="font-weight: bold;">Help</p>
          <p>- is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
          <p>- when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p>- It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
      </div>
    </div>
  </div>

  <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black" id="nieco">Help</button>

